<%- include('./header.ejs') %> <% if (!user) { %>
<p>Welcome! Please <a href="/login">log in.</a></p>
<% } else { %>
<p>Hello, <%= user.displayName %>. View your <a href="/profile">Profile info</a>.</p>
<p><a href="/data">42 campus list</a></p>
<% } %> <%- include('./footer.ejs') %>
